main {
    text-align: center;
    vertical-align: center;
    line-height: 100vh;
}
.vspace {
    min-height: 100px;
}
.MNISTBoard {
    /* margin-left: 0cm */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bigText {
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.centerObject {
    display: flex;
    justify-content: center;
}
.boardObject {
    /* margin-left: 0cm */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
.square {
      float:left;
      position: relative;
      width:1vw;
      height:1vw;
      margin:0%;
      background-color:#1E1E1E;
      overflow:hidden;
      border:1px solid black;
}
.square.off {
      background-color:#FFFFFF;
}
  
.imgSquare {
    float:left;
    position: relative;
    width:8vw;
    height:8vw;
    margin:0%;
    overflow:hidden;
    background-color:#FFFFFF;
}
.square.on {
      background-color:#1E1E1E;
}

.grid {
      display: flex;
      flex-direction: row
}

.button {
    display: flex;
    text-align: center;
    font-size: 1.5vw;
}